@model BookStorage.Models.Book

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/Scripts/Project/Book/bookCreate.js"></script>
}

@using (Html.BeginForm("Create", "Book", FormMethod.Post))
{
    <div class="create-new-title">Thêm mới sách</div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div id="create-new-form" class="create-new-book">
        <div id="import-form-info">

            <div>
                <p>@Html.LabelFor(model => model.Name)</p>
                @Html.EditorFor(model => model.Name, null, "Tên sách")
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div>
                <p>@Html.LabelFor(model => model.UnitID)</p>
                @Html.EditorFor(model => model.UnitID, null, "Unit ID")
                @Html.ValidationMessageFor(model => model.UnitID, "", new { @class = "text-danger" })
            </div>

            <div>
                <p>@Html.LabelFor(model => model.Author)</p>
                @Html.EditorFor(model => model.Author, null, "Tác giả")
                @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
            </div>

            <div>
                <p>@Html.LabelFor(model => model.BookCategoryID)</p>
                @Html.DropDownListFor(model => model.BookCategoryID, null, "Thể loại sách")
                @Html.ValidationMessageFor(model => model.BookCategoryID, "", new { @class = "text-danger" })
            </div>

            <div>
                <p>@Html.LabelFor(model => model.Code)</p>
                @Html.EditorFor(model => model.Code, null, "Code sách")
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>

            <div>
                <p>@Html.LabelFor(model => model.Image)</p>
                @Html.EditorFor(model => model.Image)
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            </div>

            <div>
                <p>@Html.LabelFor(model => model.Price)</p>
                @Html.EditorFor(model => model.Price, null, "Đơn giá")
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>

            <div>
                <p>@Html.LabelFor(model => model.Publisher)</p>
                @Html.EditorFor(model => model.Publisher, null, "Nhà phát hành")
                @Html.ValidationMessageFor(model => model.Publisher, "", new { @class = "text-danger" })
            </div>

            <div>
                <p>@Html.LabelFor(model => model.Quantity)</p>
                @Html.EditorFor(model => model.Quantity, null, "Chất lượng")
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>

            <div>
                <p>@Html.LabelFor(model => model.Status)</p>
                @Html.CheckBoxFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="create-new-confirm">
        <button value="Create" type="submit"><i class="fas fa-plus-circle"></i>Tạo mới</button>
        <button onclick="history.back(-1)" type="button"><i class="fas fa-ban"></i>Trở về</button>
    </div>
}
