@model BookStorage.Models.GoodsIssueInfo

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "GoodsIssueInfo", FormMethod.Post))
{
    <div class="create-new-title">Thêm mới chi tiết phiếu xuất</div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div id="create-new-form">
        <div class="create-new-add">
            <div>
                <p>@Html.LabelFor(model => model.Book.Code)</p>
                @Html.EditorFor(model => model.Book.Code, new { htmlAttributes = new { placeholder = "Mã sách" } })
                @Html.ValidationMessageFor(model => model.Book.Code, "", new { @class = "text-danger" })
            </div>

            <div>
                <p>@Html.LabelFor(model => model.ReceiptQuantity)</p>
                @Html.EditorFor(model => model.ReceiptQuantity, new { htmlAttributes = new { placeholder = "Số lượng theo chứng từ" } })
                @Html.ValidationMessageFor(model => model.ReceiptQuantity, "", new { @class = "text-danger" })
            </div>

            <div>
                <p>@Html.LabelFor(model => model.RealQuantity)</p>
                @Html.EditorFor(model => model.RealQuantity, new { htmlAttributes = new { placeholder = "Số lượng thực nhập" } })
                @Html.ValidationMessageFor(model => model.RealQuantity, "", new { @class = "text-danger" })
            </div>
            @Html.HiddenFor(model => model.GoodsIssueID)
        </div>
    </div>
    <div class="create-new-confirm">
        <button type="submit"><i class="fas fa-plus-circle"></i>Tạo mới</button>
        <button onclick="location.href='/GoodsIssue/Detail/@Url.RequestContext.RouteData.Values["id"]'" type="button"><i class="fas fa-ban"></i>Trở về</button>
    </div>
}


