@model BookStorage.Models.GoodsReceipt

@{
    ViewBag.Title = "Print";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";

    var day = String.Format("{0:dd}", Model.CreatedDate);
    var month = String.Format("{0:MM}", Model.CreatedDate);
    var year = String.Format("{0:yyyy}", Model.CreatedDate);
    var TotalPriceText = ViewBag.TotalPriceText;
}
<div id="form-title">
    <div id="company">
        <p>Đơn vị: <span>Kho Sách</span></p>
        <p>Bộ phận: Quản lý kho</p>
    </div>
    <div id="form-info">
        <h5>Mẫu số 01-TT</h5>
        <p>(Ban hành theo thông tư 113/2016/TT-BTC ngày 26/08/2016 của Bộ Tài Chính)</p>
    </div>
</div>
<div id="form-name">
    <h1>Phiếu nhập kho</h1>
    <p>Ngày @day tháng @month năm @year</p>
    <p>Số: <span>@Html.DisplayFor(model => model.Code)</span></p>
</div>
<div id="form-finance">
    <div class="form-finance-container">
        <p>Nợ : <span>@Html.DisplayFor(model => model.Debit)</span></p>
        <p>Có : <span>@Html.DisplayFor(model => model.Credit)</span></p>
    </div>
</div>
<div id="form-detail-info">
    <p>Họ và tên người giao: <span>@Html.DisplayFor(model => model.DelivererName)</span></p>
    <p>Theo hoá đơn số:<span>..................... </span><span>Ngày @day tháng @month năm @year </span>của <span>@Html.DisplayFor(model => model.Supplier.Name)</span></p>
    <p>Nhập tại kho: <span>Sách</span></p>
    <p>Địa điểm: <span>Số 1 Trần Đại Nghĩa, Hai Bà Trưng, Hà Nội</span></p>
</div>
<div id="form-table-container">
    <table>
        <thead>
            <tr id="table-heading">
                <th>STT</th>
                <th>Tên, Nhãn hiệu, Quy cách, Phẩm chất, Vật tư, Dụng cụ, Sản phẩm, Hàng hoá</th>
                <th>Mã số</th>
                <th>Đơn vị tính</th>
                <th colspan="2">Số lượng</th>
                <th>Đơn giá</th>
                <th>Thành tiền</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Theo chứng từ</th>
                <th>Thực nhập</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>A</td>
                <td>B</td>
                <td>C</td>
                <td>D</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>
            @{ int sl = 1;}
            @if (Model != null && Model.GoodsReceiptInfo != null)
            {
                foreach (var item in Model.GoodsReceiptInfo)
                {
                    <tr>
                        <td>@sl</td>
                        <td>@item.Book.Name</td>
                        <td>@item.Book.Code</td>
                        <td>@item.Book.Unit.Name</td>
                        <td>@item.ReceiptQuantity</td>
                        <td>@item.RealQuantity</td>
                        <td>@String.Format("{0:#,##0}", item.Book.Price)</td>
                        <td>@String.Format("{0:#,##0}", item.BookTotalPrice)</td>
                    </tr>
                    sl++;
                }
            }
            <tr>
                <td></td>
                <td>Cộng</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>@String.Format("{0:#,##0}", Model.TotalPrice)</td>
            </tr>
        </tbody>
    </table>
</div>
<div id="payment">
    <p>Tổng số tiền (Viết bằng chữ): <span>@TotalPriceText</span></p>
    <p>Số chứng từ gốc kèm theo: <span>01</span></p>
</div>
<div id="form-day">
    <p>Ngày @day tháng @month năm @year</p>
</div>
<div id="sign">
    <div>
        <p>Người lập phiếu</p>
        <p>(Ký, họ tên)</p>
    </div>
    <div>
        <p>Người giao hàng</p>
        <p>(Ký, họ tên)</p>
    </div>
    <div>
        <p>Thủ kho</p>
        <p>(Ký, họ tên)</p>
    </div>
    <div>
        <p>Kế toán trưởng</p>
        <p>(Ký, họ tên)</p>
    </div>
</div>


