
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <h3>List Books</h3>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>UnitID</th>
            <th>Author</th>
            <th>BookCategoryID</th>
            <th>Code</th>
            <th>Image</th>
            <th>Price</th>
            <th>Publisher</th>
            <th>CreatedDate</th>
            <th>Quantity</th>
            <th>Status</th>

        </tr>
        @foreach (var p in ViewBag.ListBooks)
        {
            <tr>
                <td>@p.ID</td>
                <td>@p.Name</td>
                <td>@p.UnitID</td>
                <td>@p.Author</td>
                <td>@p.BookCategoryID</td>
                <td>@p.Code</td>
                <td>@p.Image</td>
                <td>@p.Price</td>
                <td>@p.Publisher</td>
                <td>@p.CreatedDate</td>
                <td>@p.Quantity</td>
                <td>@p.Status</td>
            </tr>
        }
    </table>
</body>
</html>
