@model PagedList.IPagedList<BookStorage.Models.GoodsIssue>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title{
    Danh sách phiếu xuất
    <hr />
}

<div class="content-container">
    <div class="content-title">Tra cứu thông tin phiếu xuất</div>
    <div class="content-table">
        @using (Html.BeginForm("Index", "GoodsIssue", FormMethod.Get))
        {
            <div class="interactive">
                <div class="search-content">
                    <input type="text" value="@ViewBag.SearchString" placeholder="Tìm kiếm" name="searchString">
                    <i class="fas fa-search"></i>
                </div>
                <button class="create-new-button" onclick="location.href='/GoodsIssue/Create'" type="button">
                    <i class="fas fa-plus-circle"></i>
                    Thêm mới
                </button>
            </div>
        }
        <div class="table-container">
            <table>
                <!-- Start Title Row -->
                <tr class="table-title-row">
                    <th>Mã hóa đơn</th>
                    <th>Người nhận</th>
                    <th>Ngày tạo</th>
                    <th>Khách hàng</th>
                    <th>Nợ</th>
                    <th>Có</th>
                    <th>Lí do xuất</th>
                </tr>
                <!-- End Title Row -->
                <!-- Start Content Row -->
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr class="table-content-row" id="row_@item.ID">
                            <td>@item.Code</td>
                            <td>@item.ReciverName</td>
                            <td>@item.CreatedDate</td>
                            @if (item.Customer != null)
                            {
                                <td>@item.Customer.Name</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.Debit</td>
                            <td>@item.Credit</td>
                            <td>@item.OutputReason</td>
                            <td>
                                @Html.ActionLink(" Sửa", "Edit", new { id = item.ID }, new { @class = "far fa-edit" })
                                @Ajax.ActionLink(" Xóa", "Delete", new { @id = item.ID }, new AjaxOptions
                                   {
                                       Confirm = "Bạn có muốn xóa bản ghi này?",
                                       OnComplete = "$('#row_" + @item.ID + "').remove()",
                                       HttpMethod = "Delete"
                                   }, new { @class = "fas fa-trash-alt" })
                                @Html.ActionLink(" Chi tiết", "Detail", new { id = item.ID }, new { @class = "fas fa-info-circle" })
                            </td>
                        </tr>
                    }
                }
                <!-- End Content Row -->
            </table>
        </div>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = ViewBag.SearchString }))
    </div>
</div>
